/* App.css */

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.App {
  background-color: #7D7C7C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Expense-Tracker {
  margin-bottom: 10px;
  color: white;
}

.balance,
.income {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
  height: 200px;
  width: 300px;
}

.balance {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.income {
  background-color: #e6f7ff;
}

.balance button,
.income button {
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.my-expenses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-expense-list,
.my-expense-category {
  background-color: #7d7c7c;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.my-expense-list {
  width: 100%;
  max-width: 700px;
}

.my-expense-category {
  width: 100%;
  max-width: 700px;
}

.balance button:hover,
.income button:hover {
  background-color: #0056b3;
}

.ExpenseSummary,
.ExpenseList {
  width: 100%;
  max-width: 800px;
}

.ExpenseTrends {
  width: 100%;
}
